# Configuracion Base de Datos (Puerto Corregido)
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ecommerce_db
DB_PORT=5432

# Configuracion Backend (URL bien escrita)
PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecommerce_db?schema=gold"

# Configuracion Frontend 
NEXT_PUBLIC_API_URL=http://localhost:3001
